:root {
  --font-color: #fff;
  --default-bg-color: #002b36;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--default-bg-color);
}

header {
    color: var(--font-color);
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: var(--default-bg-color);  
}


header nav a {
    color:  var(--font-color);
}

header nav {
    text-align: right;
}

header nav #settingsSymbol {
    font-size: 1.5em;
    text-align: left;
}

#todo {
    color:  var(--font-color);
    background-color: rgba(7, 54, 66, 1);
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 1em;
}

#todo a {
    color:  var(--font-color);
    text-decoration: none;
}

#todo .todo-done, .todo-add {
    display: inline-block;
    color:  #2aa198;
    font-size: 2em;
}

#todoAdd {
    font-size: 3em;
    color:#dc322f;
    left: auto;
    right: 0.5em;
    bottom: 0;
}
#todoAdd h6 {
    color: #002b36; 
    padding-top: 1em;
    background-color: rgba(88,109,117,1);
}

#todo .appointment {
    font-size: 0.8em;
}

#todo .appointment>i {
    margin-right: 5px;
    color: #2aa198;
}

#offcanvasSettings {
    background-color: rgba(88,109,117,0.95);
    color: var(--font-color);
}

#offcanvasSettingsLabel, #modalAppointmentLabel {
    color:  var(--font-color);
}

 #modalAppointment .modal-content {
    background-color: rgba(7, 54, 66, 1);
    color: var(--font-color);
}

#modalAppointment .appointmentButtonSave {
    background-color: #2aa198;
    border: 0;
}

#modalAppointment button[class="btn-close"] i {
    color: var(--font-color);
}

/* Override bootstrap existing classes */
.modal-header {
    border-bottom: 1px solid rgba(88,109,117,0.95);
}

.modal-footer {
    border-top: 1px solid rgba(88,109,117,0.95);
}